.attraction-parent {
    position: relative;
    width: 100vw;
}

.attraction-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 50px;
}

.attraction {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.attraction-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
}