@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


@font-face {
    font-family: 'Flume';
    src: url('../assets/LemonMilk.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cove';
    src: url('../assets/Cali.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flamingo';
    src: url('../assets/Genty.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wizard';
    src: url('../assets/Wizard.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Elemental';
    src: url('../assets/Elemental.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Elder';
    src: url('../assets/Roman\ SD.ttf');
    font-weight: normal;
    font-style: normal;
}

.attraction {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
}

.attraction-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.attraction-title {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    color: rgb(96, 220, 96);
}

.attraction-description {
    margin: 0.5rem;
    font-size: 1rem;
    font-family: 'Roboto';
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.attraction:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.overlay-content {
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.attraction:hover .overlay-content {
    transform: translateY(0);
}

.font-1 {
    font-family: 'Flume';
    font-size: 40px;
    color: #E8AA86;
    text-shadow: 1px 1px #743919, 2px 2px #743919, 3px 3px #743919;
    margin-bottom: 0px;
    margin-top: 30px;
}

.font-2 {
    font-family: 'Cove';
    font-size: 90px;
    color: #7cecfd;
    text-shadow: 1px 1px #007999, 2px 2px #007999, 3px 3px #007999;
    margin-bottom: 0px;
    margin-top: 0px;
}

.font-3 {
    font-family: 'Wizard';
    font-size: 80px;
    color: rgb(255, 209, 153);
    text-shadow: 1px 1px #9F37A6, 2px 2px #9F37A6, 3px 3px #9F37A6;
    margin-bottom: 0px;
    margin-top: 0px;
}

.font-4 {
    font-family: 'Elemental';
    font-size: 40px;
    color: #32cfff;
    text-shadow: 1px 1px #ff6a00, 2px 2px #ff6a00, 3px 3px #ff6a00;
}

.font-5 {
    font-family: 'Flamingo';
    font-size: 50px;
    color: rgb(255, 153, 213);
    text-shadow: 1px 1px #FAC8B9, 2px 2px #FAC8B9, 3px 3px #FAC8B9;
    margin-bottom: 0px;
    margin-top: 0px;
}

.font-6 {
    font-family: 'Elder';
    font-size: 50px;
    color: #E8AA86;
    text-shadow: 1px 1px #2E3633, 2px 2px #2E3633, 3px 3px #2E3633;
    margin-bottom: 0px;
    margin-top: 0px;
}

.overlay-description {
    font-family: 'Roboto';
}