@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.home-feature-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature-item {
    width: 200px;
    flex-grow: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.feature-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.feature-image-container {
    position: relative;
}

.feature-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.feature-button {
    background: linear-gradient(#16d947, #09a33a);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 2;
    font-family: 'Bebas Neue';
    height: 4rem;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.643);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.6), 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.feature-button:hover {
    background: linear-gradient(#109732, #066b26);
}

.feature-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #63ff99;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue';
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.feature-image-overlay,
.feature-text {
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.feature-item:hover .feature-image-overlay {
    opacity: 0;
}

.feature-item:hover .feature-text {
    opacity: 0.4;
    color: white;
    transition: color 0.3s ease;
}