/* Modal.css */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-content {
    position: fixed !important;
    background: #012030;
    padding: 20px;
    margin-top: 80vw;
    height: 40rem;
    width: 50%;
    border-radius: 5px;
    z-index: 1050;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
}

.construction-image {
    height: 300px;
    width: auto;
    margin: auto;
}

.close-button {
    width: 90%;
}