/* SplashScreen.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012030;
    /* Or any color you prefer */
    z-index: 1000;
    /* High z-index to cover everything else */
}

.logo {
    width: 300px;
    margin-bottom: 20px;
    /* Or any spacing you prefer */
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}